<mat-toolbar style="background-color: #262a38; opacity: 0.9; color: #ffffff;">
    <div class="header">
        <button class="sidemenu" mat-button (click)="opened= !opened"><mat-icon style="margin-top: 1rem;">menu</mat-icon></button>
        <span class="logocomp">Frank Associates</span>
    </div>
    <div class="spacer"></div>
    <div class="menu" >
        <a mat-button style="text-decoration: none;" routerLink="home">Home</a>
        <!-- <a mat-button style="text-decoration: none;" routerLink="services">Services Offered</a>
        <a mat-button style="text-decoration: none;">News and Articles</a> -->
        <a mat-button style="text-decoration: none;" routerLink="contactus">Contact Us</a> 
        <!-- <p style="padding-top: 1rem;" >Contact Us +91 90105 36337 / +91 9059 000 893</p> -->
    </div>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" style="background-color: #262a38;">
        <mat-list style="color: #ffffff;">
            <mat-list-item><a mat-button routerLink="home" style="text-decoration: none; color: #ffffff;">Home</a></mat-list-item> 
            <!-- <mat-list-item><a mat-button routerLink="" style="text-decoration: none; color: #ffffff;">Services Offered</a></mat-list-item>
            <mat-list-item><a mat-button routerLink="" style="text-decoration: none; color: #ffffff;"> Tax Updates</a></mat-list-item>
            <mat-list-item><a mat-button routerLink="" style="text-decoration: none; color: #ffffff;">News and Articles</a></mat-list-item> -->
            <mat-list-item><a mat-button routerLink="contactus" style="text-decoration: none; color: #ffffff;">Contact Us</a></mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet style="height: 100%;"></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
