.circle {
    display: flex;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .homeimage{
    //background-color: rebeccapurple;
    
    background: url(../../assets/homecorrectsize.jpg);
    object-fit: fill;
    max-height: 90vh;
  }
  .line-1 {
    height: 1px;
    background: black;
  }

  .servicesoffered{
    background-color: #202d3b;
    height: 80vh;
  }

  .chooseFA{
    margin-left: 10rem; margin-right: 10rem; height: 80vh;
  }

  @media screen and (max-width: 480px) {
    body {
      background-color: lightgreen;
    }

    .servicesoffered{
        height: auto;
    }

    .chooseFA{
        margin-left: 0rem;
        margin-right: 0rem;
        height: auto;
    }

  }